In [ ]:
import pandas as pd
data3 = pd.read_csv(r"movies.csv")
data3.head()

   Unnamed: 0  ID  ... Disney+  Type
0           0   1  ...       0     0
1           1   2  ...       0     0
2           2   3  ...       0     0
3           3   4  ...       0     0
4           4   5  ...       0     0

[5 rows x 11 columns]

In [ ]:
mrating_count = {'Netflix': {'9': 0, '8': 0, '7': 0, '6': 0, '5': 0, '4': 0, '3': 0, '2': 0, '1': 0, 'total': 0}, 
                'Hulu': {'9': 0, '8': 0, '7': 0, '6': 0, '5': 0, '4': 0, '3': 0, '2': 0, '1': 0, 'total': 0},
                'Prime': {'9': 0, '8': 0, '7': 0, '6': 0, '5': 0, '4': 0, '3': 0, '2': 0, '1': 0, 'total': 0},
                'Disney+': {'9': 0, '8': 0, '7': 0, '6': 0, '5': 0, '4': 0, '3': 0, '2': 0, '1': 0, 'total': 0}}

for i in range(data3.shape[0]):
  try:
    rating = data3.iloc[i][4][0]
  except:
    continue
  if data3.iloc[i][5]:
    mrating_count['Netflix'][rating] += 1
    mrating_count['Netflix']['total'] += 1
  if data3.iloc[i][6]:
    mrating_count['Hulu'][rating] += 1
    mrating_count['Hulu']['total'] += 1
  if data3.iloc[i][7]:
    mrating_count['Prime'][rating] += 1
    mrating_count['Prime']['total'] += 1
  if data3.iloc[i][8]:
    mrating_count['Disney+'][rating] += 1
    mrating_count['Disney+']['total'] += 1

print(mrating_count['Netflix'])
print(mrating_count['Hulu'])
print(mrating_count['Prime'])
print(mrating_count['Disney+'])

{'9': 21, '8': 147, '7': 386, '6': 674, '5': 1031, '4': 991, '3': 373, '2': 12, '1': 53, 'total': 3688}
{'9': 2, '8': 47, '7': 189, '6': 308, '5': 320, '4': 155, '3': 21, '2': 1, '1': 4, 'total': 1047}
{'9': 4, '8': 49, '7': 221, '6': 605, '5': 1065, '4': 1526, '3': 578, '2': 14, '1': 50, 'total': 4112}
{'9': 3, '8': 72, '7': 125, '6': 208, '5': 253, '4': 207, '3': 41, '2': 0, '1': 13, 'total': 922}

In [ ]:
for i in ['Netflix', 'Prime', 'Hulu', 'Disney+']:
  print(i)
  for k,v in mrating_count[i].items():
    print(k, round(v/mrating_count[i]['total']*100, 2))
  print()

Netflix
9 0.57
8 3.99
7 10.47
6 18.28
5 27.96
4 26.87
3 10.11
2 0.33
1 1.44
total 100.0

Prime
9 0.1
8 1.19
7 5.37
6 14.71
5 25.9
4 37.11
3 14.06
2 0.34
1 1.22
total 100.0

Hulu
9 0.19
8 4.49
7 18.05
6 29.42
5 30.56
4 14.8
3 2.01
2 0.1
1 0.38
total 100.0

Disney+
9 0.33
8 7.81
7 13.56
6 22.56
5 27.44
4 22.45
3 4.45
2 0.0
1 1.41
total 100.0